%h3 Professionals and Jobseekers
.spacer20
.row
  .span9
    .row
      .span3
        =image_tag("portfolio.png", class: 'img-150')       
      .span6
        %h5
          Create your professional portfolio    
        %p Your TopicHog profile showcases your knowledge and project work. It's your professional portfolio. 
        %ul
          %li Link from your Linkedin profile (links can be added in the contact info section of your Linkedin profile). 
          %li Add a link to your TopicHog profile on your CV.
