%h3 Students
.spacer20
.row
  .span9
    .row
      .span6
        %h5
          Write up your notes     
        %p Know a topic in depth? 
        %p Create a topic and add your notes and link to useful resources (papers, sites etc).
      .span3
        =image_tag("study-notes2.png", class: 'img-150')   
    .spacer20
    .row
      .span3
        =image_tag("project-icon.png", class: 'img-100')        
      .span6
        %h5
          Show off your projects 
        %p Finished some projects recently?
        %p
          Post up the executive summaries of your projects and attach the project report.   
    .spacer20          
    .row
      .span6
        %h5
          Share with your class and your network
        %p Share your topics and projects on twitter, linkedin, or your class facebook group.
        %p At exam time benefit from what others have shared.   
      .span3
        =image_tag("topichog-to-facebook-twitter-linkedin.png", class: 'img-150')     
           
