= provide(:title, 'Learn more')
.row
  #nav-left-div.span3.divheight5
    %ul#nav-left.span2.nav.nav-list.nav-stacked.affix-top{"data-offset-top" => "10", "data-spy" => "affix"}
      %li#features-tab.nav-header
        %a{:href => '#features' }
          %h4.muted
            What is it?
            %i.icon-chevron-right.bs-docs-sidenav      
      %li#cases-tab.nav-header
        %a{:href => '#cases' }
          %h4.muted
            How can I use it?
            %i.icon-chevron-right.bs-docs-sidenav     
      %li#student-case-tab
        %a{:href => '#student-case' }
          %h6.muted
            Students
      %li#professional-case-tab.hide
        %a{:href => '#professional-case' }
          %h6.muted
            Professionals
      %li#jobseeker-case-tab
        %a{:href => '#jobseeker-case' }
          %h6.muted
            Professionals and Jobseekers
      %li#company-case-tab.hide
        %a{:href => '#company-case' }
          %h6.muted
            companies  
      %li#institution-case-tab.hide
        %a{:href => '#institution-case' }
          %h6.muted
            Institutions                                                      
      %li#pricing-tab.nav-header
        %a{:href => '#pricing' }
          %h4.muted
            Pricing
            %i.icon-chevron-right.bs-docs-sidenav
      %li#about-tab.nav-header
        %a{:href => '#about' }
          %h4.muted
            About us
            %i.icon-chevron-right.bs-docs-sidenav
      %li
        .spacer20  
        .span2
          = link_to "Sign up now!", new_user_registration_path, class: "btn btn-small btn-primary"                                          
    .span1
  .span9
    =render partial: 'features'                  
    .spacer100
    %section#cases
      .well.well-small
        %h3 How can I use it?
      %section#student-case 
        =render partial: 'students'
      %section#professional-case.hide 
        %h3 Professionals
      %section#jobseeker-case 
        =render partial: 'jobseekers'
      %section#company-case.hide 
        %h3 Companies
      %section#institution-case.hide 
        %h3 Institutions           
    .spacer100
    %section#pricing 
      .well.well-small 
        %h3 Pricing
    %h4 It's Free!
    %P
      We are in Beta and may offer premium features in the future.         
    .spacer100
    %section#about 
      .well.well-small 
        %h3 About us
      %h4 We are a web start-up based in Dublin 
      %p You can contact us email at support@topichog.com
    .spacer200       
    .spacer200 
    .spacer200  
#topicModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#topicModalLabel Example topic
  .modal-body
    %p
      =image_tag("topic_2_full.png")
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    =link_to 'View Topic', user_topic_path(1,2), class: "btn btn-primary"     
#projectModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#projectModalLabel Example project
  .modal-body
    %p
      =image_tag("project_2_full.png")
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    =link_to 'View Project', user_project_path(1,3), class: "btn btn-primary"     
