= provide(:title, 'how-to-create-a-profession-portfolio')
.row
  .span12 
    %h3.center  How to create your (free) professional portfolio
.spacer10
.row
  .span12
    %h2  
      Showcase examples of great work you have done.
.spacer30   
.row
  .span8
    .row 
      .span6.hero-unit 
        .row
          %p 
            %strong 1. Create your account on TopicHog   
        .row    
          .span6 Sign up for free. There are no ads and no catches. We won't do any unpleasent things with your contact details. 
        .spacer10        
        .row  
          %p 
            %strong 2. Create a profile bio
        .row
          .span6 Your profile bio is a short summary of who you are professionally. You can link to your other presences online, such as linkedin if you want people to see a more detailed profile.
        .spacer10
        .row
          %p 
            %strong 3. Add your projects
        .row   
          .span3
            Write a detailed and attractive account of your projects.
          .span2
            %a{"data-toggle" => "modal", :href => "#projectModal", :role => "button", "data-show" => false}          
              =image_tag("project.png", size: "150x150")
              .span2 Click to view                     
        .row
          %p
            %strong 4. Create topics that display your knowledge  
        .row  
          .span3
            Write about topics that you are knowledgable about.
          .span2
            %a{"data-toggle" => "modal", :href => "#topicModal", :role => "button", "data-show" => false}                    
              =image_tag("topic.png", size: "150x150")  
              .span2 Click to view    
        .spacer10
        .row
          %p
            %strong 5. Share your portfolio with your network  
          .span3  
            Share your profile with your network on linkedin, Twitter and elsewhere. 
            .spacer5
            %div  
              Your 
              %strong topics
              and
              %strong projects 
              will be seen by viewers of your profile. 
          .span2
            %h5.center
            =image_tag("topichog-to-facebook-twitter-linkedin.png")       
  .span4
    .row
      .span3
        %h2 Create your portfolio now!
        = render partial: 'landing_sign_up'
    .spacer30 
    .row     
      .span3 
        .muted Why have a professional portfolio?   
        .spacer10
        %div
          Rather than only hearing about your success, a professional portfolio 
          actually showcases examples your best work. 
        .spacer10  
        %div Make a good first impression and show that you are a serious and knowledable professional.                                                   
#topicModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#topicModalLabel Example topic
  .modal-body
    %p
      =image_tag("topic_2_full.png")
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    =link_to 'View Topic', user_topic_path(1,2), class: "btn btn-primary"     
#projectModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#projectModalLabel Example project
  .modal-body
    %p
      =image_tag("project_2_full.png")
  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
    =link_to 'View Project', user_project_path(1,3), class: "btn btn-primary"          
