= provide(:title, @user.name + ' | edit ' + @topic.title)
.row
  %aside.span4
    %section
      = render 'shared/user_info'
    %section
      = render 'shared/stats'    
  .span8
    = render partial: 'edit_topic_form', locals: {topic: @topic}
