= provide(:title, @user.name + ' | ' + @topic.title)
.row
  %aside.span4
    %section  
      %h1
        = @user.name
    %section
      = render 'shared/user_link'
  .span8 
    %div.span8
      %h1        
        Title: #{@topic.title}
    %div.span3
      =render 'posts/like_form' if user_signed_in?
    %div.span8
      summary: 
    %div.wtf 
      =raw @topic.summary
    .span8
      =render 'shared/tags'
    .span8
      =render 'shared/post_stats'
    .span8
      =render 'shared/likers_list'
