%ol.feed
  = render partial: 'shared/project_feed_item', collection: @project_feed_items
= will_paginate @project_feed_items, :param_name => 'project_page', 
                previous_label: h("<"), next_label: h(">"), 
                inner_window: 2, outer_window: 2

