- @user ||= current_user
.span1
  %a{:href => user_path(@user)}
    = avatar_for @user, size: 52
.span2  
  %h1
    = @user.name
  %span
    -if @page != 'profile'
      = render 'shared/user_link' 
  %span  
    -if @user == current_user && @page == 'profile'
      .actions
        = link_to "edit profile", edit_profile_path(@user)
