%h2 Details about 

%ul#details
  %li
    Company:
    = @company_result.company_name
  %li
    Assessed on:
    = @company_result.assessment_date.strftime("%B %d, %Y")

%h3 Detailed Results:
%div.row
  %div#satisfactiondiv.span6
  %div#impactdiv.span6
    
%p#description= @company_result.company_name

= link_to 'Back to companies list', company_assessments_path