%h3 Project details page
.row
  %aside.span4
    %section
      %h1        
        Title: #{@project.title}
      %p
        summary: #{@project.summary}
    %p= link_to "Back to #{@project_user.name}", user_path(@project_user)
