= provide(:title, @user.name + ' | edit ' + @topicdraft.title)
.row
  %aside.span4
    %section
      = render 'shared/user_info'
    %section
      = render 'shared/stats'    
  .span8
    = render partial: 'edit_topicdraft_form', locals: {topicdraft: @topicdraft}
