@import "bootstrap";

/* universal */
html {
overflow-y: scroll;
}
body {
padding-top: 100px;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
}
.center h1 {
margin-bottom: 10px;
}
header {height:86px}
#logo {
        background-repeat: no-repeat;
        background-position: top left;
        height: 100%;
      }
/* projecs */
.projects {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.title {
  display: block;
}
.timestamp {
  color: $grayLight;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}